/* - - - - - - - - - - - - - - - - - - - - -
Backend Search

$Id: toolbar_search.css 7487 2010-05-01 15:05:33Z francois $
- - - - - - - - - - - - - - - - - - - - - */

#backend-search-menu div {
	background-color: #f9f9f9;
	border: 1px solid #abb2bc;
	border-top: none;
	text-align: right;
}

#search-query {
	border: 1px #848484 solid;
}